* {
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(17,153,59,1) 0%, rgba(4,40,33,1) 100%);
  }

  h1 {
    position: absolute;
    top: 1vmin;
    font-size: 7vmin;
  }
  
  .board {
    display: grid;
    height: 60vh;
    width: 60vw;
    grid-template-rows: 0.2fr 5fr 0.2fr 2.4fr 0.2fr 2.4fr 0.2fr 5fr 0.2fr 6fr 0.2fr 6fr 0.2fr;
    grid-template-columns: 0.1fr 4fr repeat(13, 0.1fr 3fr) 0.1fr;
  }
  
  .board * {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
 
  
  #zero-zero {
    border: 1px solid white;
    border-radius: 50%;
    grid-area: 2 / 2 / span 3 / span 1;
    margin: 1vmin;
  }
  
  #zero {
    grid-area: 6 / 2 / span 3 / span 1;
    border: 1px solid white;
    border-radius: 50%;
    margin: 1vmin;
  }
  
  #one-to-twelve {
    grid-area: 10 / 4 / span 1 / span 7;
    border: 1px solid black;
    border-radius: 50%;
  }
  #thirteen-to-twentyfour {
    grid-area: 10 / 12 / span 1 / span 7;
    border: 1px solid black;
    border-radius: 50%;
  }
  #twentyfive-to-thirtysix {
    grid-area: 10 / 20 / span 1 / span 7;
    border: 1px solid black;
    border-radius: 50%;
  }
  #one-to-eighteen {
    grid-area: 12 / 4 / span 1 / span 3;
    border: 1px solid black;
    border-radius: 50%;
  }
  #EVEN {
    grid-area: 12 / 8 / span 1 / span 3;
    border: 1px solid black;
    border-radius: 50%;
  }
  #RED {
    grid-area: 12 / 12 / span 1 / span 3;
    border: 1px solid black;
    border-radius: 50%;
  }
  #BLACK {
    grid-area: 12 / 16 / span 1 / span 3;
    border: 1px solid black;
    border-radius: 50%;
  }
  #ODD {
    grid-area: 12 / 20 / span 1 / span 3;
    border: 1px solid black;
    border-radius: 50%;
  }
  #nineteen-to-thirtysix {
    grid-area: 12 / 24 / span 1 / span 3;
    border: 1px solid black;
    border-radius: 50%;
  }
  .span-row {
    grid-row: span 3;
  }
  .line {
    background-color: white;
  }
  .num {
    border-radius: 50%;
    border: 0.01rem solid black;
    margin: 0.05rem;
  }

  #board > div > div {
    height: 80%;
    width: 80%;
  }
  .rotate {
    transform: rotate(-90deg);
  }
  div div div {
    font-size: 5vmin;
    color: white;
  }
  .last-col {
    font-size: 3vmin;
  }
  .last-row {
    font-size: 4vmin
  }
  .black {
    background-color: black;
  }
  .red {
    background-color: red;
  }

  #history {
    height: 50vh;
    width: 5vw;
    position: absolute;
    top: 3vh;
    right: 3vw;
    border: 0.1vmin solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
  }

  #odd-history, #even-history {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
  }
  
  #odd-history {
    border-right: 0.1vmin dashed white;
  }

  #clear {
    height: 13vmin;
    width: 15vmin; 
    position: absolute;
    left: 2vw;
    top: 25vh;
    border-radius: 30%;
    font-size: 4vmin;
    background-color: transparent;
  }

  #undo {
    height: 13vmin;
    width: 15vmin;
    position: absolute;
    left: 11vw;
    top: 25vh;
    border-radius: 30%;
    font-size: 4vmin;
    background-color: transparent;
  }

  #clear:hover, #undo:hover, #double-bet:hover, #repeat-last-bet:hover {
    background-color: rgb(28, 75, 34);
  }

  #spin {
    height: 25vmin;
    width: 25vmin;
    position: absolute;
    right: 3vw;
    bottom: 3vh;
    background-color: transparent;
    border: none;
  }

  #spin:hover {
    height: 28vmin;
    width: 28vmin;
    transition: 0.2s ease-in-out;
  }

  .chip {
    height: 18vmin;
    width: 18vmin;
    border-radius: 50%;
    position: absolute;
    border: 0.6vmin solid black;
    font-size: 4vmin;
  }

  .active, .chip:hover {
    height: 23vmin;
    width: 23vmin;
    font-size: 5vmin;
    transition: 0.3s ease-in-out;
    z-index: 1;
  }


  #silver-chip {
    left: 6vw;
    bottom: 30vh;
    background-image: url(../img/silver_chip.jpg);
    background-size: cover;
  }
  #yellow-chip {
    left: 8vw;
    bottom: 20vh;
    background-image: url(../img/yellow_chip.jpg);
    background-size: cover;
  }
  #green-chip {
    left: 10vw;
    bottom: 8vh;
    background-image: url(../img/green_chip.jpg);
    background-size: cover;
  }
  #blue-chip {
    left: 14vw;
    bottom: 1vh;
    background-image: url(../img/blue_chip.jpg);
    background-size: cover;
  }
  #purple-chip {
    left: 20vw;
    bottom: 0vh;
    background-image: url(../img/purple_chip.jpg);
    background-size: cover;
  }
  #double-bet {
    position: absolute;
    right: 15vw;
    bottom: 10vh;
    height: 13vmin;
    width: 15vmin;
    background-color: transparent;
    border-radius: 30%;
  }
  #repeat-last-bet {
    position: absolute;
    right: 15vw;
    bottom: 25vh;
    height: 13vmin;
    width: 15vmin;
    background-color: transparent;
    border-radius: 30%;
  }

  #balance {
    height: 15vmin;
    width: 40vmin;
    position: absolute;
    bottom: 3vh;
    text-align: center;
    font-size: 10vmin;
  }

  #bet-amount {
    height: 8vmin;
    width: 20vmin;
    position: absolute;
    bottom: 10vh;
    right: 25vw;
    text-align: center;
    font-size: 6vmin;
    color: yellow;
  }

/* every slot has a chip inside but it's hidden until click */
figure {
  position: absolute; 
  border-radius: 50%; 
  height:6vmin; 
  width: 6vmin; 
  background-image: url(./img/silver_chip.jpg); 
  background-size: cover;
  visibility: hidden;
  margin: 0;
  font-size: 50%;
  /* z-index: 1; */
}

.board div div, .board div figure {
  pointer-events: none;
}

.larger-area {
  position: absolute;
  height: 5vmin;
  width: 5vmin;
  z-index: 1;
  pointer-events: auto !important;
}

div > .taller {
  position: absolute;
  height: 6vmin;
  width: 4vmin;
  z-index: 1;
  pointer-events: auto !important;
}

div > .wider {
  position: absolute;
  height: 4vmin;
  width: 5vmin;
  z-index: 1;
  pointer-events: auto !important;
}

div > .even-wider {
  position: absolute;
  height: 4vmin;
  width: 10vmin;
  z-index: 1;
  pointer-events: auto !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; 
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: visibility 0s opacity 0.25s transform 0.25s; */
}

.modal > #wheel {
  height: 80vmin;
  width: 80vmin;
  background-image: url(../img/roulette_wheel4.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @keyframes activate {
  from {transform: rotate(0deg);}
  to {transform: rotate(-180deg);}
} */
.modal #ball-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50vmin;
  width: 50vmin;
  display: flex;
  justify-content: flex-start;
  rotate: 45deg;
  /* animation: activate 2s; */
}

#ball {
  height: 2.5vmin;
  width: 2.5vmin;
  background-image: url(../img/ball.png);
  background-size: cover;
  border-radius: 50%;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
  z-index: 2;
}

.show-modal > #wheel {
  transition: all 4.5s cubic-bezier(.24,.8,.58,1);
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(-0.9vmin, 0.5vmin, 0) scale(1.05);
  }
}

.show-modal #ball-container #ball {
  animation: bounce 0.3s ease-out;
  animation-direction: alternate;
  animation-delay: 3s;
  animation-iteration-count: 5;
}

.show-modal #ball-container {
  height: 33.5vmin !important;
  width: 33.5vmin !important;
  transition: all 4.5s cubic-bezier(.24,.8,.58,1);
}

.modal > h1 {
  position: absolute;
  margin-left: auto;
  top: 0vh;
  font-size: 4vmin;
  color: orange;
}

#wide-screen-require {
  position: absolute;
  visibility: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait)  {
  * {
    visibility: hidden !important;
  }
  #wide-screen-require {
    visibility: visible !important;
    font-size: 8vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(17,153,59,1) 0%, rgba(4,40,33,1) 100%);
  }
}