* {
    box-sizing: border-box;
  }

*:focus {
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17,153,59);
  background: radial-gradient(circle, rgba(17,153,59,1) 0%, rgba(4,40,33,1) 100%);
}

/* first page before game starts */
#first-page {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: rgba(17,153,59);
  background: radial-gradient(circle, rgba(17,153,59,1) 0%, rgba(4,40,33,1) 100%); */
  background-image: url(../img/first_page_bg.jpg);
  background-size: cover;
}

section > h1 {
  color: darkgoldenrod;
  margin-top: 0.5vmin;
  margin-bottom: 0;
  font-size: 12vmin;
  font-family: 'Yellowtail', cursive;
  -webkit-text-stroke: 0.1vmin black;
  letter-spacing: 2vmin;
}

section > h2 {
  color: gold;
  /* color: gold; */
  /* color: rgb(246,222,78); */
  margin-top: 0.5vmin;
  font-size: 12vmin;
  margin-bottom: 2vmin;
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke: 0.1vmin black;
  letter-spacing: 0.3vmin;
}

section > p {
  font-size: 3vmin;
  margin-top: 6vmin;
  font-family: 'Courgette', cursive;
  letter-spacing: 0.3vmin;
  color: whitesmoke;
}

#roulette-img {
  height: 33vmin;
  width: 30vmin;
  margin-bottom: 5vmin;
}

#play {
  height: 15vmin;
  width: 30vmin;
  border-radius: 20%;
  background-image: url(../img/play_background.png);
  background-size: cover;
  color: white;
  font-size: 7vmin;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.4vmin;
  -webkit-text-stroke: 0.4vmin darkgreen;
}

#play:hover {
  /* color: rgba(250, 72, 72, 0.979); */
  color: darkgreen;
  -webkit-text-stroke: 0.4vmin white;
}

#title {
  position: absolute;
  top: 1vmin;
  font-size: 8vmin;
  font-family: 'Courgette', cursive;
  color: white;
  -webkit-text-stroke: 0.1vmin black;
  letter-spacing: 1.5vmin;
  font-weight: bold; 
}

.board {
  display: grid;
  height: 58vh;
  width: 63vw;
  grid-template-rows: 0.2fr 5fr 0.2fr 2.4fr 0.2fr 2.4fr 0.2fr 5fr 0.2fr 5.5fr 0.2fr 5.5fr 0.2fr;
  grid-template-columns: 0.1fr 4fr repeat(13, 0.1fr 3fr) 0.1fr;
}

.board * {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.board *:hover:not(.empty) {
  cursor: pointer;
}

#zero-zero {
  border: 1px solid white;
  border-radius: 50%;
  grid-area: 2 / 2 / span 3 / span 1;
  margin: 1vmin;
}

#zero {
  grid-area: 6 / 2 / span 3 / span 1;
  border: 1px solid white;
  border-radius: 50%;
  margin: 1vmin;
}

#one-to-twelve {
  grid-area: 10 / 4 / span 1 / span 7;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}
#thirteen-to-twentyfour {
  grid-area: 10 / 12 / span 1 / span 7;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}
#twentyfive-to-thirtysix {
  grid-area: 10 / 20 / span 1 / span 7;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}
#one-to-eighteen {
  grid-area: 12 / 4 / span 1 / span 3;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}
#EVEN {
  grid-area: 12 / 8 / span 1 / span 3;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}
#RED {
  grid-area: 12 / 12 / span 1 / span 3;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}
#BLACK {
  grid-area: 12 / 16 / span 1 / span 3;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}
#ODD {
  grid-area: 12 / 20 / span 1 / span 3;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}
#nineteen-to-thirtysix {
  grid-area: 12 / 24 / span 1 / span 3;
  border: 1px solid black;
  border-radius: 50%;
  border: none;
}

.no-border {
  border: none !important;
}

.span-row {
  grid-row: span 3;
}
.line {
  background-color: white;
}
.num {
  border-radius: 50%;
  border: 0.01rem solid black;
  margin: 0.05rem;
}

#board > div > div {
  height: 80%;
  width: 80%;
}
.rotate {
  transform: rotate(-90deg);
}
div div div {
  font-size: 5vmin;
  color: white;
}
.last-col {
  font-size: 3vmin;
}
.last-row {
  font-size: 4vmin
}
.black {
  background-color: black;
}
.red {
  background-color: red;
}

#history {
  height: 38vh;
  width: 5vw;
  position: absolute;
  top: 19vh;
  right: 8vw;
  border: 0.1vmin solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  font-size: 2.5vmin;
  font-family: 'Space Mono', monospace;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background: rgb(88,110,84);
  background: linear-gradient(90deg, rgba(88,110,84,1) 0%, rgba(77,148,97,0.7315301120448179) 0%);
}

#odd-history, #even-history {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
}

#odd-history {
  border-right: 0.4vmin dashed darkgreen;
}

#clear, #undo {
  height: 15vmin;
  width: 15vmin; 
  position: absolute;
  left: 0.5vw;
  top: 25vh;
  border-radius: 50%;
  font-size: 3.5vmin;
  color: white;
  background-color: transparent;
  background-image: url(../img/black_button.png);
  background-size: cover;
  opacity: 0.8;
}

#undo {
  position: absolute;
  left: 9vw;
  top: 25vh;
}

#double-bet {
  position: absolute;
  right: 14.5vw;
  bottom: 10vh;
  height: 12vmin;
  width: 14vmin;
  background-color: transparent;
  background-image: url(../img/gold_background.png);
  background-size: cover;
  border-radius: 40%;
  color: black;
  font-size: 2.5vmin;
  font-family: 'Permanent Marker', cursive;
  opacity: 0.6;
}

#repeat-last-bet {
  position: absolute;
  right: 14.5vw;
  bottom: 25vh;
  height: 12vmin;
  width: 14vmin;
  background-color: transparent;
  background-image: url(../img/gold_background.png);
  background-size: cover;
  border-radius: 40%;
  color: black;
  font-size: 2.5vmin;
  font-family: 'Permanent Marker', cursive;
  opacity: 0.6;
}

#clear:hover, #undo:hover, #double-bet:hover, #repeat-last-bet:hover {
  background-color: rgb(28, 75, 34);
  opacity: 1;
}

#spin {
  height: 24vmin;
  width: 24vmin;
  position: absolute;
  right: 1.5vw;
  bottom: 3vh;
  background-color: transparent;
}

#spin:hover {
  height: 26vmin;
  width: 26vmin;
  transition: 0.2s ease-in-out;
}

.chip {
  height: 18vmin;
  width: 18vmin;
  border-radius: 50%;
  position: absolute;
  border: 0.6vmin solid black;
  font-size: 4vmin;
  font-family: 'Fjalla One', sans-serif;
  color: black;
}

.active {
  height: 21vmin;
  width: 21vmin;
  font-size: 5vmin;
  transition: 0.1s linear;
  z-index: 1;
}

.chip:hover:not(.active) {
  height: 19vmin;
  width: 19vmin;
  font-size: 5vmin;
  transition: 0.2s ease-in-out;
  z-index: 1;
}


#silver-chip {
  left: 3vw;
  bottom: 37vh;
  background-image: url(../img/silver_chip.jpg);
  background-size: cover;
}
#yellow-chip {
  left: 5vw;
  bottom: 22vh;
  background-image: url(../img/yellow_chip.jpg);
  background-size: cover;
}
#green-chip {
  left: 8vw;
  bottom: 8vh;
  background-image: url(../img/green_chip.jpg);
  background-size: cover;
}
#blue-chip {
  left: 15vw;
  bottom: 1vh;
  background-image: url(../img/blue_chip.jpg);
  background-size: cover;
}
#purple-chip {
  left: 22.5vw;
  bottom: 0vh;
  background-image: url(../img/purple_chip.jpg);
  background-size: cover;
}

#sound-on {
  position: absolute;
  top: 5vh;
  right: 11vw;
  height: 6vmin;
  width: 6vmin;
  border: 0.5vmin solid black;
  padding: 0.5vmin;
  border-radius: 30%;
}

#sound-off {
  position: absolute;
  top: 5vh;
  right: 6vw;
  height: 6vmin;
  width: 6vmin;
  border: 0.5vmin solid black;
  padding: 0.5vmin 0.8vmin 0.5vmin 0.5vmin;
  border-radius: 30%;
}

.sound-on, .sound-off {
  scale: 1.2;
}

#sound-on:hover, #sound-off:hover {
  background: rgb(160,199,149);
  background: radial-gradient(circle, rgba(160,199,149,1) 0%, rgba(79,133,68,1) 100%);
}

#buy-chip {
  position: absolute;
  left: 3vw;
  top: 3vh;
  height: 10vmin;
  width: 20vmin;
  border-radius: 20%;
  border: 0.5vmin solid darkgrey;
  font-size: 4vmin;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  -webkit-text-stroke: 0.1vmin darkgreen;
  background-color: transparent;
  opacity: 0.85;
}

#buy-chip:hover {
  background-color: darkslategrey;
  opacity: 1;
}

#balance {
  height: 15vmin;
  width: 40vmin;
  position: absolute;
  bottom: 2vh;
  text-align: center;
  font-size: 10vmin;
  letter-spacing: 0.5vmin;
  font-family: 'Fjalla One', sans-serif;
  -webkit-text-stroke: 0.1vmin lightgreen;
}

#bet-amount {
  height: 8vmin;
  width: 20vmin;
  position: absolute;
  bottom: 10vh;
  right: 25vw;
  text-align: center;
  font-size: 6vmin;
  font-family: 'Fjalla One', sans-serif;
  color: yellow;
  -webkit-text-stroke: 0.1vmin whitesmoke;
}

/* every slot has a chip inside but it's hidden until click */
figure {
position: absolute; 
border-radius: 50%; 
height:6vmin; 
width: 6vmin; 
background-image: url(./img/silver_chip.jpg); 
background-size: cover;
visibility: hidden;
margin: 0;
font-size: 100%;
font-family: 'Source Sans Pro', sans-serif;
}

.board div div, .board div figure {
pointer-events: none;
}

.larger-area {
position: absolute;
height: 5vmin;
width: 5vmin;
z-index: 1;
pointer-events: auto !important;
}

div > .taller {
position: absolute;
height: 6vmin;
width: 4vmin;
z-index: 1;
pointer-events: auto !important;
}

div > .wider {
position: absolute;
height: 4vmin;
width: 5vmin;
z-index: 1;
pointer-events: auto !important;
}

div > .even-wider {
position: absolute;
height: 4vmin;
width: 10vmin;
z-index: 1;
pointer-events: auto !important;
}

.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0; 
visibility: hidden;
display: flex;
align-items: center;
justify-content: center;
/* transition: visibility 0s opacity 0.25s transform 0.25s; */
}

.modal > #wheel {
height: 80vmin;
width: 80vmin;
background-image: url(../img/roulette_wheel4.jpg);
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}

.modal #ball-container {
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
height: 50vmin;
width: 50vmin;
display: flex;
justify-content: flex-start;
rotate: 45deg;
}

#ball {
height: 2.5vmin;
width: 2.5vmin;
background-image: url(../img/ball.png);
background-size: cover;
border-radius: 50%;
}

.show-modal {
opacity: 1;
visibility: visible;
transition: opacity 1s;
z-index: 2;
}

.show-modal > #wheel {
transition: all 4.5s cubic-bezier(.24,.8,.58,1);
}

@keyframes bounce {
from {
    transform: translate3d(0, 0, 0);
}
to {
    transform: translate3d(-0.9vmin, 0.5vmin, 0) scale(1.05);
}
}

.show-modal #ball-container #ball {
animation: bounce 0.25s ease-out;
animation-direction: alternate;
animation-delay: 3s;
animation-iteration-count: 5;
}

.show-modal #ball-container {
height: 33.5vmin !important;
width: 33.5vmin !important;
transition: all 4.5s cubic-bezier(.24,.8,.58,1);
}

.modal > h1 {
position: absolute;
margin-left: auto;
top: 2vh;
font-size: 4vmin;
letter-spacing: 0.3vmin;
color: orange;
font-family: 'Fjalla One', sans-serif;
}

.buy-chip-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; 
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.buy-chip-page > h1 {
  position: absolute;
  top: 2vh;
  font-size: 15vmin;
  color: orange;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: normal;
}

.buy-chip-page > div {
  margin-top: 50vmin;
  height: 100vh;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15vmin;
}

.buy-chips {
  border-radius: 30%;
  font-size: 12vmin;
  border: 1vmin solid white;
  -webkit-text-stroke: 0.4vmin darkgrey;
}

.buy-chips:hover {
  color: white;
  -webkit-text-stroke: 0.4vmin darkgreen;
}
#buy100 {
  background: rgb(182,182,182);
  background: radial-gradient(circle, rgba(182,182,182,1) 0%, rgba(64,64,64,1) 100%);
}

#buy200 {
  background: rgb(248,249,107);
  background: radial-gradient(circle, rgba(248,249,107,1) 0%, rgba(117,129,20,1) 100%);
}

#buy500 {
  background: rgb(141,242,139);
  background: radial-gradient(circle, rgba(141,242,139,1) 0%, rgba(26,74,8,1) 100%);
}

#buy1000 {
  background: rgb(107,196,249);
  background: radial-gradient(circle, rgba(107,196,249,1) 0%, rgba(20,77,129,1) 100%);
}

#buy2000 {
  background: rgb(206,107,249);
  background: radial-gradient(circle, rgba(206,107,249,1) 0%, rgba(113,51,134,1) 100%);
}

#buy5000 {
  background: rgb(249,107,107);
  background: radial-gradient(circle, rgba(249,107,107,1) 0%, rgba(129,20,20,1) 100%);
}

.show-buy-chip-page {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
  z-index: 2;
}

#wide-screen-require {
position: absolute;
visibility: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait)  {
* {
  visibility: hidden !important;
}
#wide-screen-require {
  visibility: visible !important;
  font-size: 8vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgba(17,153,59,1) 0%, rgba(4,40,33,1) 100%);
}
}